In [1]:
import pandas as pd

In [2]:
#Reading in data

pick_drop_data = pd.read_csv('data/pickup_dropoff.csv')

In [3]:
#Checking types of the data 
pick_drop_data.dtypes

datetime_utc_0           object
actual_time_utc_0        object
postal                  float64
booking_id               object
committed_time_utc_0     object
estimated_time_utc_0     object
status                   object
type                     object
dtype: object

In [4]:
#Passing date to berlin time. In data set, they are in utc_0
localize_dates = ["datetime_utc_0", "actual_time_utc_0", "committed_time_utc_0", "estimated_time_utc_0"]
berlin_dates = [date.replace('0', 'berlin') for date in localize_dates]
def berlin_time(df, time_columns_names):
    """
    Given a dataset and time columns converts data from utc 0 to Berlin time.
    df: pandas data frame
    time_columns_names: columns that contain time to be converted.
    
    returns: data frame with columns with time converted.
    """
    #Replace to it can be localize to utc 0
    data_date = df[time_columns_names].apply(lambda x: x.str.replace('\+\d\d:\d\d', ""))
    data_date = data_date.apply(lambda x: pd.to_datetime(x).dt.tz_localize('UTC').dt.tz_convert('Europe/Berlin'))
    return data_date

In [5]:
pick_drop_data[berlin_dates] = berlin_time(pick_drop_data, localize_dates)

In [8]:
pick_drop_data[berlin_dates]

,datetime_utc_berlin,actual_time_utc_berlin,committed_time_utc_berlin,estimated_time_utc_berlin
0,2017-06-09 18:00:21+02:00,NaT,2017-06-09 18:01:47+02:00,2017-06-09 18:01:47+02:00
1,2017-06-09 18:00:26+02:00,NaT,2017-06-09 18:01:47+02:00,2017-06-09 18:01:47+02:00
2,2017-06-09 18:00:26+02:00,NaT,2017-06-09 18:05:34+02:00,2017-06-09 18:05:34+02:00
3,2017-06-09 18:00:40+02:00,NaT,2017-06-09 18:05:34+02:00,2017-06-09 18:05:34+02:00
4,2017-06-09 18:00:51+02:00,NaT,2017-06-09 18:15:19+02:00,2017-06-09 18:15:19+02:00
5,2017-06-09 18:00:51+02:00,NaT,2017-06-09 18:22:34+02:00,2017-06-09 18:22:34+02:00
6,2017-06-09 18:00:57+02:00,NaT,2017-06-09 18:19:53+02:00,2017-06-09 18:19:53+02:00
7,2017-06-09 18:00:57+02:00,NaT,2017-06-09 18:09:29+02:00,2017-06-09 18:09:29+02:00
8,2017-06-09 18:01:03+02:00,NaT,2017-06-09 18:15:19+02:00,2017-06-09 18:15:19+02:00
9,2017-06-09 18:01:45+02:00,NaT,2017-06-09 18:06:23+02:00,2017-06-09 18:06:23+02:00
10,2017-06-09 18:01:48+02:00,NaT,2017-06-09 18:06:23+02:00,2017-06-09 18:06:23+02:00
11,2017-06-09 18:01:59+02:00,NaT,2017-06-09 18:09:29+02:00,2017-06-09 18:09:29+02:00
12,2017-06-09 18:02:24+02:00,NaT,2017-06-09 18:16:25+02:00,2017-06-09 18:16:25+02:00
13,2017-06-09 18:02:24+02:00,NaT,2017-06-09 18:15:19+02:00,2017-06-09 18:15:19+02:00
14,2017-06-09 18:02:24+02:00,NaT,2017-06-09 18:01:47+02:00,2017-06-09 18:02:25+02:00
15,2017-06-09 18:02:24+02:00,NaT,2017-06-09 18:22:34+02:00,2017-06-09 18:22:34+02:00
16,2017-06-09 18:02:39+02:00,NaT,2017-06-09 18:31:22+02:00,2017-06-09 18:31:22+02:00
17,2017-06-09 18:02:39+02:00,NaT,2017-06-09 18:16:36+02:00,2017-06-09 18:16:36+02:00
18,2017-06-09 18:02:44+02:00,NaT,2017-06-09 18:16:36+02:00,2017-06-09 18:16:36+02:00
19,2017-06-09 18:02:51+02:00,NaT,2017-06-09 18:12:39+02:00,2017-06-09 18:12:39+02:00
20,2017-06-09 18:02:56+02:00,NaT,2017-06-09 18:12:39+02:00,2017-06-09 18:12:39+02:00
21,2017-06-09 18:03:08+02:00,NaT,2017-06-09 18:18:57+02:00,2017-06-09 18:18:57+02:00
22,2017-06-09 18:03:08+02:00,NaT,2017-06-09 18:32:05+02:00,2017-06-09 18:32:05+02:00
23,2017-06-09 18:03:15+02:00,NaT,2017-06-09 18:18:57+02:00,2017-06-09 18:18:57+02:00
24,2017-06-09 18:03:28+02:00,NaT,2017-06-09 18:18:57+02:00,2017-06-09 18:18:57+02:00
25,2017-06-09 18:03:28+02:00,NaT,2017-06-09 18:32:05+02:00,2017-06-09 18:32:05+02:00
26,2017-06-09 18:03:35+02:00,NaT,2017-06-09 18:07:59+02:00,2017-06-09 18:07:59+02:00
27,2017-06-09 18:03:41+02:00,NaT,2017-06-09 18:07:59+02:00,2017-06-09 18:07:59+02:00
28,2017-06-09 18:03:43+02:00,NaT,2017-06-09 18:24:55+02:00,2017-06-09 18:24:55+02:00
29,2017-06-09 18:05:24+02:00,NaT,2017-06-09 18:16:25+02:00,2017-06-09 18:16:25+02:00
...,...,...,...,...
9959,2017-06-11 17:53:26+02:00,2017-06-11 17:53:25+02:00,2017-06-11 17:54:56+02:00,2017-06-11 17:54:56+02:00
9960,2017-06-11 17:54:01+02:00,2017-06-11 17:54:01+02:00,2017-06-11 17:54:48+02:00,2017-06-11 17:54:48+02:00
9961,2017-06-11 17:54:06+02:00,2017-06-11 17:54:06+02:00,2017-06-11 17:54:55+02:00,2017-06-11 17:54:55+02:00
9962,2017-06-11 17:54:08+02:00,NaT,2017-06-11 18:10:38+02:00,2017-06-11 18:10:38+02:00
9963,2017-06-11 17:56:27+02:00,NaT,2017-06-11 18:13:33+02:00,2017-06-11 18:13:33+02:00
9964,2017-06-11 17:57:00+02:00,NaT,2017-06-11 18:30:46+02:00,2017-06-11 18:30:46+02:00
9965,2017-06-11 17:57:00+02:00,NaT,2017-06-11 18:10:49+02:00,2017-06-11 18:10:49+02:00
9966,2017-06-11 17:57:08+02:00,NaT,2017-06-11 18:10:49+02:00,2017-06-11 18:10:49+02:00
9967,2017-06-11 17:57:13+02:00,NaT,2017-06-11 18:16:00+02:00,2017-06-11 18:16:00+02:00
9968,2017-06-11 17:57:13+02:00,NaT,2017-06-11 18:10:27+02:00,2017-06-11 18:10:27+02:00
9969,2017-06-11 17:57:22+02:00,NaT,2017-06-11 18:10:27+02:00,2017-06-11 18:10:27+02:00
9970,2017-06-11 17:57:28+02:00,2017-06-11 17:57:28+02:00,2017-06-11 17:53:14+02:00,2017-06-11 17:53:14+02:00
9971,2017-06-11 17:59:52+02:00,NaT,2017-06-11 18:13:33+02:00,2017-06-11 18:13:33+02:00
9972,2017-06-11 18:00:01+02:00,2017-06-11 18:00:01+02:00,2017-06-11 18:13:33+02:00,2017-06-11 18:13:33+02:00
9973,2017-06-11 18:00:41+02:00,2017-06-11 18:00:41+02:00,2017-06-11 17:55:26+02:00,2017-06-11 17:57:31+02:00
9974,2017-06-11 18:02:31+02:00,NaT,2017-06-11 18:12:56+02:00,2017-06-11 18:12:56+02:00
9975,2017-06-11 18:03:19+02:00,2017-06-11 18:03:19+02:00,2017-06-11 17:57:36+02:00,2017-06-11 17:57:36+02:00
9976,2017-06-11 18:03:23+02:00,NaT,2017-06-11 18:18:48+02:00,2017-06-11 18:18:48+02:00
9977,2017-06-11 18:03:26+02:00,2017-06-11 18:03:25+02:00,2017-06-11 18:11:37+02:00,2017-06-11 18:11:37+02:00
9978,2017-06-11 18:03:55+02:00,NaT,2017-06-11 18:04:40+02:00,2017-06-11 18:02:46+02:00
9979,2017-06-11 18:04:02+02:00,2017-06-11 18:04:02+02:00,2017-06-11 18:04:40+02:00,2017-06-11 18:02:46+02:00
9980,2017-06-11 18:05:25+02:00,2017-06-11 18:05:25+02:00,2017-06-11 18:00:15+02:00,2017-06-11 18:04:19+02:00
9981,2017-06-11 18:07:34+02:00,2017-06-11 18:07:34+02:00,2017-06-11 18:10:38+02:00,2017-06-11 18:10:38+02:00
9982,2017-06-11 18:07:58+02:00,2017-06-11 18:07:58+02:00,2017-06-11 18:04:42+02:00,2017-06-11 18:04:42+02:00
9983,2017-06-11 18:11:21+02:00,2017-06-11 18:11:21+02:00,2017-06-11 18:10:27+02:00,2017-06-11 18:10:27+02:00
9984,2017-06-11 18:11:24+02:00,NaT,2017-06-11 18:16:00+02:00,2017-06-11 18:16:00+02:00
9985,2017-06-11 18:15:07+02:00,NaT,2017-06-11 18:30:46+02:00,2017-06-11 18:30:46+02:00
9986,2017-06-11 18:15:07+02:00,2017-06-11 18:15:07+02:00,2017-06-11 18:10:49+02:00,2017-06-11 18:10:49+02:00
9987,2017-06-11 18:16:11+02:00,2017-06-11 18:16:10+02:00,2017-06-11 18:16:00+02:00,2017-06-11 18:16:00+02:00
9988,2017-06-11 18:23:27+02:00,2017-06-11 18:23:27+02:00,2017-06-11 18:18:48+02:00,2017-06-11 18:18:48+02:00

In [99]:

#Localizing data to Berlin date time
pick_drop_data[localize_dates] = pick_drop_data[localize_dates].apply(lambda x: x.dt.tz_localize('UTC').dt.tz_convert('Europe/Berlin'))

In [114]:
pick_drop_data["datetime_utc_0"][pick_drop_data["datetime_utc_0"].dt.day == 11]

7048   2017-06-11 00:05:44+02:00
7049   2017-06-11 00:05:46+02:00
7050   2017-06-11 00:06:56+02:00
7051   2017-06-11 00:07:28+02:00
7052   2017-06-11 00:08:47+02:00
7053   2017-06-11 00:09:10+02:00
7054   2017-06-11 00:09:10+02:00
7055   2017-06-11 00:10:00+02:00
7056   2017-06-11 00:11:36+02:00
7057   2017-06-11 00:14:08+02:00
7058   2017-06-11 00:15:32+02:00
7059   2017-06-11 00:15:38+02:00
7060   2017-06-11 00:20:23+02:00
7061   2017-06-11 00:25:45+02:00
7062   2017-06-11 00:27:04+02:00
7063   2017-06-11 08:00:10+02:00
7064   2017-06-11 08:00:20+02:00
7065   2017-06-11 08:00:27+02:00
7066   2017-06-11 08:00:27+02:00
7067   2017-06-11 08:00:31+02:00
7068   2017-06-11 08:00:33+02:00
7069   2017-06-11 08:00:34+02:00
7070   2017-06-11 08:00:34+02:00
7071   2017-06-11 08:00:41+02:00
7072   2017-06-11 08:00:42+02:00
7073   2017-06-11 08:01:11+02:00
7074   2017-06-11 08:01:54+02:00
7075   2017-06-11 08:01:54+02:00
7076   2017-06-11 08:02:14+02:00
7077   2017-06-11 08:03:02+02:00
                  ...
9959   2017-06-11 15:53:26+02:00
9960   2017-06-11 15:54:01+02:00
9961   2017-06-11 15:54:06+02:00
9962   2017-06-11 15:54:08+02:00
9963   2017-06-11 15:56:27+02:00
9964   2017-06-11 15:57:00+02:00
9965   2017-06-11 15:57:00+02:00
9966   2017-06-11 15:57:08+02:00
9967   2017-06-11 15:57:13+02:00
9968   2017-06-11 15:57:13+02:00
9969   2017-06-11 15:57:22+02:00
9970   2017-06-11 15:57:28+02:00
9971   2017-06-11 15:59:52+02:00
9972   2017-06-11 16:00:01+02:00
9973   2017-06-11 16:00:41+02:00
9974   2017-06-11 16:02:31+02:00
9975   2017-06-11 16:03:19+02:00
9976   2017-06-11 16:03:23+02:00
9977   2017-06-11 16:03:26+02:00
9978   2017-06-11 16:03:55+02:00
9979   2017-06-11 16:04:02+02:00
9980   2017-06-11 16:05:25+02:00
9981   2017-06-11 16:07:34+02:00
9982   2017-06-11 16:07:58+02:00
9983   2017-06-11 16:11:21+02:00
9984   2017-06-11 16:11:24+02:00
9985   2017-06-11 16:15:07+02:00
9986   2017-06-11 16:15:07+02:00
9987   2017-06-11 16:16:11+02:00
9988   2017-06-11 16:23:27+02:00
Name: datetime_utc_0, Length: 2372, dtype: datetime64[ns, Europe/Berlin]

In [15]:
bookings_data[bookings_data['booking_id'].str.contains('de14e461-8db6-482a-a427-e1c81e508ca7')]

,booking_created_at_utc_0,booking_id,cancelled_at_utc_0,cancelled_by,event,passenger_count,status
2,2017-06-09T16:00:20.000+02:00,de14e461-8db6-482a-a427-e1c81e508ca7,,,create,3,open
12,2017-06-09T16:00:20.000+02:00,de14e461-8db6-482a-a427-e1c81e508ca7,,,update,3,open
26,2017-06-09T16:00:20.000+02:00,de14e461-8db6-482a-a427-e1c81e508ca7,,,update,3,closed

In [22]:
pick_drop_data.loc[(pick_drop_data['status'] == 'cancelled') & (pick_drop_data['actual_time_utc_0'].notnull()), :]

,datetime_utc_0,actual_time_utc_0,postal,booking_id,committed_time_utc_0,estimated_time_utc_0,status,type
56,2017-06-09T16:19:38.000+02:00,2017-06-09T16:19:38.000+02:00,10965.0,a9419ee1-b6a8-4b3e-950c-fd531311fbe7,2017-06-09T16:09:29.000+02:00,2017-06-09T16:09:29.000+02:00,cancelled,pickup
614,2017-06-09T19:06:29.000+02:00,2017-06-09T19:06:29.000+02:00,10969.0,68480a64-670d-49c0-9afc-8673e0554945,2017-06-09T19:16:19.000+02:00,2017-06-09T19:16:19.000+02:00,cancelled,pickup
699,2017-06-09T19:38:37.000+02:00,2017-06-09T19:38:37.000+02:00,10119.0,f1f9c630-20f6-4fe8-90b9-c1e91a73cde8,2017-06-09T19:41:11.000+02:00,2017-06-09T19:41:11.000+02:00,cancelled,pickup
1230,2017-06-09T22:57:07.000+02:00,2017-06-09T22:57:07.000+02:00,10997.0,0ccb603f-99d3-46b3-bc88-d0ba737d91ec,2017-06-09T22:54:55.000+02:00,2017-06-09T22:54:55.000+02:00,cancelled,pickup
1358,2017-06-09T23:31:49.000+02:00,2017-06-09T23:31:49.000+02:00,10783.0,48c2ee0e-d26e-4a81-af10-c39f493ea406,2017-06-09T23:31:13.000+02:00,2017-06-09T23:31:13.000+02:00,cancelled,pickup
1426,2017-06-09T23:45:56.000+02:00,2017-06-09T23:45:56.000+02:00,10783.0,079bc7a7-223b-42ac-be1b-6fa622633f04,2017-06-09T23:55:00.000+02:00,2017-06-09T23:55:00.000+02:00,cancelled,pickup
1465,2017-06-10T00:00:23.000+02:00,2017-06-10T00:00:23.000+02:00,10825.0,b800e72f-99e4-4ec9-abe4-f9f0bb588fc6,2017-06-09T23:54:23.000+02:00,2017-06-09T23:54:23.000+02:00,cancelled,pickup
1707,2017-06-10T10:54:12.000+02:00,2017-06-10T10:54:12.000+02:00,12045.0,7a777d38-2e34-4f46-a164-db831b338b13,2017-06-10T10:53:11.000+02:00,2017-06-10T10:53:11.000+02:00,cancelled,pickup
1720,2017-06-10T10:58:46.000+02:00,2017-06-10T10:58:45.000+02:00,12043.0,79d4e55a-636b-44a9-86ee-a1d3f19838c6,2017-06-10T11:05:19.000+02:00,2017-06-10T11:05:19.000+02:00,cancelled,pickup
1827,2017-06-10T11:41:43.000+02:00,2017-06-10T11:41:43.000+02:00,10963.0,dc82d54d-b511-41bd-aadd-baf20b251af1,2017-06-10T11:44:56.000+02:00,2017-06-10T11:44:56.000+02:00,cancelled,pickup
1896,2017-06-10T12:22:29.000+02:00,2017-06-10T12:22:29.000+02:00,10827.0,087b20c8-0a8f-402e-a018-77d6e1a9c379,2017-06-10T12:31:16.000+02:00,2017-06-10T12:31:16.000+02:00,cancelled,pickup
1900,2017-06-10T12:23:25.000+02:00,2017-06-10T12:23:25.000+02:00,10827.0,42619148-1f98-4dff-9056-bc50e44b3476,2017-06-10T12:31:29.000+02:00,2017-06-10T12:31:29.000+02:00,cancelled,pickup
1968,2017-06-10T12:57:35.000+02:00,2017-06-10T12:57:35.000+02:00,10961.0,6e1f01c5-1752-4b46-9e48-89dd0ef3325f,2017-06-10T13:12:17.000+02:00,2017-06-10T13:12:17.000+02:00,cancelled,pickup
1980,2017-06-10T13:03:30.000+02:00,2017-06-10T13:03:30.000+02:00,10789.0,0c39728c-6fcf-4694-9091-29612dac8be6,2017-06-10T13:07:07.000+02:00,2017-06-10T13:07:07.000+02:00,cancelled,pickup
2090,2017-06-10T13:50:36.000+02:00,2017-06-10T13:50:35.000+02:00,12051.0,25899871-f02f-4c93-a117-a9cb83a86fa8,2017-06-10T14:02:10.000+02:00,2017-06-10T14:02:10.000+02:00,cancelled,pickup
2115,2017-06-10T14:03:14.000+02:00,2017-06-10T14:03:14.000+02:00,10969.0,53733eaa-4013-49d7-95a2-2280a0eed0ba,2017-06-10T14:15:33.000+02:00,2017-06-10T14:15:33.000+02:00,cancelled,pickup
2156,2017-06-10T14:20:39.000+02:00,2017-06-10T14:20:39.000+02:00,12049.0,b1826df2-71f4-443d-a9e5-de259a8fa27a,2017-06-10T14:33:32.000+02:00,2017-06-10T14:33:32.000+02:00,cancelled,pickup
2224,2017-06-10T14:43:41.000+02:00,2017-06-10T14:43:41.000+02:00,10999.0,fd6dbd28-470b-4a53-b616-8af76fab0cd9,2017-06-10T14:47:19.000+02:00,2017-06-10T14:47:19.000+02:00,cancelled,pickup
2232,2017-06-10T14:44:23.000+02:00,2017-06-10T14:44:23.000+02:00,10119.0,7fb10810-68b9-4412-8c08-4cee89db63b6,2017-06-10T14:56:52.000+02:00,2017-06-10T14:56:52.000+02:00,cancelled,pickup
2282,2017-06-10T15:26:28.000+02:00,2017-06-10T15:26:28.000+02:00,10179.0,9e18b360-0453-4fb5-8605-874607eb5238,2017-06-10T15:35:55.000+02:00,2017-06-10T15:35:55.000+02:00,cancelled,pickup
2737,2017-06-09T17:13:51.000+02:00,2017-06-09T17:13:51.000+02:00,10997.0,52d99641-326c-45fb-ace3-3cf5b5178c65,2017-06-09T17:02:42.000+02:00,2017-06-09T17:02:42.000+02:00,cancelled,pickup
2761,2017-06-09T17:16:16.000+02:00,2017-06-09T17:16:16.000+02:00,10963.0,bff42692-ec9a-4901-91d2-e8164e27096a,2017-06-09T17:29:06.000+02:00,2017-06-09T17:29:06.000+02:00,cancelled,pickup
3072,2017-06-09T19:02:43.000+02:00,2017-06-09T19:02:43.000+02:00,10965.0,68ba31b9-0de2-4c98-9f2b-b2846846a194,2017-06-09T19:06:11.000+02:00,2017-06-09T19:06:11.000+02:00,cancelled,pickup
3092,2017-06-09T19:06:29.000+02:00,2017-06-09T19:06:29.000+02:00,10559.0,b2bda133-9af4-427f-9c80-56562c78ca6c,2017-06-09T19:00:09.000+02:00,2017-06-09T19:00:09.000+02:00,cancelled,pickup
3558,2017-06-09T21:31:17.000+02:00,2017-06-09T21:31:17.000+02:00,10827.0,57d725da-fa22-4c7a-9aa2-823dc31a7f3f,2017-06-09T21:31:30.000+02:00,2017-06-09T21:31:30.000+02:00,cancelled,pickup
3659,2017-06-09T21:57:05.000+02:00,2017-06-09T21:57:05.000+02:00,10119.0,05fc8ba8-09cd-4879-bc0e-7e514832e8ea,2017-06-09T21:55:09.000+02:00,2017-06-09T21:55:09.000+02:00,cancelled,pickup
3945,2017-06-09T23:21:48.000+02:00,2017-06-09T23:21:48.000+02:00,10827.0,492e43a4-fa62-4895-b001-427edeec244c,2017-06-09T23:21:05.000+02:00,2017-06-09T23:25:06.000+02:00,cancelled,pickup
4097,2017-06-09T23:55:19.000+02:00,2017-06-09T23:55:19.000+02:00,10785.0,586dea62-8352-46f8-bbb2-bf61b48f5c12,2017-06-09T23:38:59.000+02:00,2017-06-09T23:38:59.000+02:00,cancelled,pickup
4221,2017-06-10T08:41:14.000+02:00,2017-06-10T08:41:14.000+02:00,10115.0,a5d23b25-a05e-4364-b003-2cff7b73f5f1,2017-06-10T08:33:17.000+02:00,2017-06-10T08:33:17.000+02:00,cancelled,pickup
4256,2017-06-10T09:00:29.000+02:00,2017-06-10T09:00:29.000+02:00,10115.0,d740af6a-f9d7-4473-ab3f-86a41f95b0e5,2017-06-10T08:56:08.000+02:00,2017-06-10T08:56:08.000+02:00,cancelled,pickup
...,...,...,...,...,...,...,...,...
7646,2017-06-11T12:31:52.000+02:00,2017-06-11T12:31:52.000+02:00,10969.0,bca416a9-8b4f-4299-a97b-7acd01e0539c,2017-06-11T12:33:25.000+02:00,2017-06-11T12:33:45.000+02:00,cancelled,pickup
7651,2017-06-11T12:32:13.000+02:00,2017-06-11T12:32:13.000+02:00,10969.0,bc85da31-469e-4a57-84ea-9243090a244c,2017-06-11T12:41:28.000+02:00,2017-06-11T12:41:28.000+02:00,cancelled,pickup
7674,2017-06-11T12:41:22.000+02:00,2017-06-11T12:41:22.000+02:00,10707.0,db7b9239-d8d6-4060-ac4b-6626b628c902,2017-06-11T12:51:24.000+02:00,2017-06-11T12:51:24.000+02:00,cancelled,pickup
7688,2017-06-11T12:44:38.000+02:00,2017-06-11T12:44:38.000+02:00,10997.0,600969c3-a73c-496d-a573-65c152faa6a5,2017-06-11T12:42:17.000+02:00,2017-06-11T12:40:19.000+02:00,cancelled,pickup
7822,2017-06-11T13:37:18.000+02:00,2017-06-11T13:37:18.000+02:00,10823.0,8b0d64b0-e436-4bb2-97a3-8e2df4c47742,2017-06-11T13:35:29.000+02:00,2017-06-11T13:35:29.000+02:00,cancelled,pickup
7923,2017-06-11T14:25:00.000+02:00,2017-06-11T14:25:00.000+02:00,10553.0,769a0441-ad65-4fcc-a5af-08976bae6436,2017-06-11T14:30:54.000+02:00,2017-06-11T14:30:54.000+02:00,cancelled,pickup
7932,2017-06-11T14:26:39.000+02:00,2017-06-11T14:26:39.000+02:00,10553.0,80937a7a-759d-41d0-9476-3eef04901a32,2017-06-11T14:29:16.000+02:00,2017-06-11T14:29:16.000+02:00,cancelled,pickup
7979,2017-06-11T14:45:43.000+02:00,2017-06-11T14:45:43.000+02:00,10969.0,4677a8d2-520e-4aea-802e-1348f4e9f67e,2017-06-11T14:45:34.000+02:00,2017-06-11T14:45:34.000+02:00,cancelled,pickup
8179,2017-06-10T20:33:25.000+02:00,2017-06-10T20:33:25.000+02:00,10969.0,babc7f35-b5c9-4456-a3c1-23d5e8b338b9,2017-06-10T20:27:30.000+02:00,2017-06-10T20:27:30.000+02:00,cancelled,pickup
8386,2017-06-10T22:19:35.000+02:00,2017-06-10T22:19:35.000+02:00,10437.0,dfa13660-9a36-45e6-972c-cf39399e4d0f,2017-06-10T22:10:06.000+02:00,2017-06-10T22:10:06.000+02:00,cancelled,pickup
8584,2017-06-10T23:38:27.000+02:00,2017-06-10T23:38:27.000+02:00,10243.0,a2238c72-a5cf-444a-adb9-53e617aa8e84,2017-06-10T23:48:56.000+02:00,2017-06-10T23:48:56.000+02:00,cancelled,pickup
8593,2017-06-10T23:39:01.000+02:00,2017-06-10T23:39:01.000+02:00,10405.0,a794c4ff-cc33-4231-a660-10bd2aaed64d,2017-06-10T23:44:23.000+02:00,2017-06-10T23:44:23.000+02:00,cancelled,pickup
9153,2017-06-11T11:31:46.000+02:00,2017-06-11T11:31:45.000+02:00,10245.0,847b3315-7ac1-4cf5-b3f0-9d5e123abd55,2017-06-11T11:34:20.000+02:00,2017-06-11T11:34:20.000+02:00,cancelled,pickup
9334,2017-06-11T15:38:15.000+02:00,2017-06-11T15:38:15.000+02:00,10997.0,d8a3b149-dcdf-49b5-a043-28a7dc7c9069,2017-06-11T15:29:53.000+02:00,2017-06-11T15:28:22.000+02:00,cancelled,pickup
9412,2017-06-11T12:35:30.000+02:00,2017-06-11T12:35:30.000+02:00,10707.0,85784c73-7200-4e3a-b860-afe563deef3d,2017-06-11T12:34:22.000+02:00,2017-06-11T12:34:22.000+02:00,cancelled,pickup
9422,2017-06-11T12:38:17.000+02:00,2017-06-11T12:38:16.000+02:00,10707.0,2bf86b17-2818-4e61-96c3-4909dc0e3d4b,2017-06-11T12:45:47.000+02:00,2017-06-11T12:45:47.000+02:00,cancelled,pickup
9430,2017-06-11T12:39:51.000+02:00,2017-06-11T12:39:51.000+02:00,10707.0,07abd408-5e3e-4585-bcae-914354ec0cd2,2017-06-11T12:48:09.000+02:00,2017-06-11T12:48:09.000+02:00,cancelled,pickup
9469,2017-06-11T12:53:48.000+02:00,2017-06-11T12:53:48.000+02:00,10963.0,e074dff4-ea21-44c2-9363-af96276ec528,2017-06-11T12:38:47.000+02:00,2017-06-11T12:51:18.000+02:00,cancelled,pickup
9543,2017-06-11T13:37:37.000+02:00,2017-06-11T13:37:37.000+02:00,10777.0,d5399353-561e-491d-992f-d056384b595d,2017-06-11T13:31:52.000+02:00,2017-06-11T13:31:52.000+02:00,cancelled,pickup
9665,2017-06-11T14:22:15.000+02:00,2017-06-11T14:22:15.000+02:00,10969.0,bbb006a0-8ce6-4094-aa16-a9ee99b78a85,2017-06-11T14:35:26.000+02:00,2017-06-11T14:35:26.000+02:00,cancelled,pickup
9674,2017-06-11T14:26:06.000+02:00,2017-06-11T14:26:06.000+02:00,10789.0,40a2312c-7ad3-41cc-8434-24ac1c7568aa,2017-06-11T14:38:39.000+02:00,2017-06-11T14:38:39.000+02:00,cancelled,pickup
9684,2017-06-11T14:27:53.000+02:00,2017-06-11T14:27:53.000+02:00,10789.0,0ab280f4-f1f2-477c-bef4-96fe45dbbef1,2017-06-11T14:40:44.000+02:00,2017-06-11T14:40:44.000+02:00,cancelled,pickup
9712,2017-06-11T14:39:24.000+02:00,2017-06-11T14:39:24.000+02:00,10553.0,bd6e9105-1d02-4e17-9d70-698316827613,2017-06-11T14:46:47.000+02:00,2017-06-11T14:46:47.000+02:00,cancelled,pickup
9722,2017-06-11T14:43:41.000+02:00,2017-06-11T14:43:41.000+02:00,10967.0,dc0af17f-e3bf-4e01-8d21-151d873f5ec0,2017-06-11T14:44:23.000+02:00,2017-06-11T14:44:23.000+02:00,cancelled,pickup
9844,2017-06-11T15:20:20.000+02:00,2017-06-11T15:20:20.000+02:00,10243.0,d979452e-770e-4a42-9d0b-e3630b2428ec,2017-06-11T15:15:00.000+02:00,2017-06-11T15:15:00.000+02:00,cancelled,pickup
9855,2017-06-11T15:22:04.000+02:00,2017-06-11T15:22:04.000+02:00,10178.0,3f085b4e-8ece-4e5c-a8f3-92e94b8ba870,2017-06-11T15:12:53.000+02:00,2017-06-11T15:12:53.000+02:00,cancelled,pickup
9943,2017-06-11T15:50:31.000+02:00,2017-06-11T15:50:31.000+02:00,10243.0,4f623b81-15e2-4958-abd4-4e6c013eb785,2017-06-11T15:39:20.000+02:00,2017-06-11T15:44:46.000+02:00,cancelled,pickup
9972,2017-06-11T16:00:01.000+02:00,2017-06-11T16:00:01.000+02:00,10961.0,d8b0bf71-a53b-4ebf-ae6a-b3a9b444f5f1,2017-06-11T16:13:33.000+02:00,2017-06-11T16:13:33.000+02:00,cancelled,pickup
9982,2017-06-11T16:07:58.000+02:00,2017-06-11T16:07:58.000+02:00,10119.0,de670206-c6d1-4cbf-af66-85e1b62a0e8b,2017-06-11T16:04:42.000+02:00,2017-06-11T16:04:42.000+02:00,cancelled,pickup
9986,2017-06-11T16:15:07.000+02:00,2017-06-11T16:15:07.000+02:00,10117.0,710f0a26-73a5-4bb9-9012-01a1a5598078,2017-06-11T16:10:49.000+02:00,2017-06-11T16:10:49.000+02:00,cancelled,pickup

In [24]:
pick_drop_data.loc[pick_drop_data['booking_id'].str.contains('f2af9859-3248-4e39-a91a-efbc67178b03')]

,datetime_utc_0,actual_time_utc_0,postal,booking_id,committed_time_utc_0,estimated_time_utc_0,status,type
2,2017-06-09T16:00:26.000+02:00,NaN,10961.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:05:34.000+02:00,2017-06-09T16:05:34.000+02:00,open,pickup
3,2017-06-09T16:00:40.000+02:00,NaN,10961.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:05:34.000+02:00,2017-06-09T16:05:34.000+02:00,open,pickup
35,2017-06-09T16:06:45.000+02:00,NaN,10961.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:05:34.000+02:00,2017-06-09T16:06:48.000+02:00,open,pickup
39,2017-06-09T16:08:10.000+02:00,2017-06-09T16:08:10.000+02:00,10961.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:05:34.000+02:00,2017-06-09T16:06:48.000+02:00,closed,pickup
2445,2017-06-09T16:00:26.000+02:00,NaN,10967.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:12:16.000+02:00,2017-06-09T16:12:16.000+02:00,open,dropoff
2477,2017-06-09T16:06:45.000+02:00,NaN,10967.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:12:16.000+02:00,2017-06-09T16:13:29.000+02:00,open,dropoff
2495,2017-06-09T16:08:14.000+02:00,NaN,10967.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:12:16.000+02:00,2017-06-09T16:13:29.000+02:00,open,dropoff
2514,2017-06-09T16:17:03.000+02:00,2017-06-09T16:17:03.000+02:00,10967.0,f2af9859-3248-4e39-a91a-efbc67178b03,2017-06-09T16:12:16.000+02:00,2017-06-09T16:13:29.000+02:00,closed,dropoff